ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{product}=="DL100B Dream Cheeky Generic Controller", SYMLINK+="big_red_button", OWNER="pi"
ACTION=="remove", ENV{ID_MODEL}=="DL100B_Dream_Cheeky_Generic_Controller"
ACTION=="add",,MODE="0666"
ACTION=="add", ATTRS{idVendor}=="27b8", MODE="0666"
